
#hero {
    background-color:;
    background-image: url(../images/lr-alt-header-image.jpg);
    min-height: 180px;
    background-size: cover;
    background-position: 50% 70%;
    color:#d3bea8;


}